  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Make your statement today!</h2>
              <div id="ribbon-schedule"></div>
              <script 
                type="text/javascript"
                src="https://www.redbubble.com/assets/external_portfolio.js">
            </script>
            <script
                id="rb-xzfcxvzx"
                type="text/javascript">new RBExternalPortfolio('www.redbubble.com', 'hathawayj', 5, 3).renderIframe();
            </script>
          </div>
      </div>
  </aside>
