<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>No Person Shall</h1>
            <h2>be an elector of President, under the United States,</h2>
            <hr>
            <p align="left"> who, having previously taken an oath as an executive officer, to support the Constitution of the United States, shall have enganged in insurrection or rebellion against the same, or given aid or comfort to enemies thererof.</p>
        </div>
    </div>
</header>
